<a href="//github.com/CK110/ng-zorro-tree.git">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
       src="./assets/fork.png"
       alt="Fork me on GitHub">
</a>

<h2 style="text-align: center;margin-top: 20px"> tree </h2>
<div style="display: flex;justify-content: space-around;">
  <demo-basic></demo-basic>
  <demo-basic-strict></demo-basic-strict>
</div>
<div style="display: flex;justify-content: space-around;">
  <demo-async></demo-async>
</div>

<div style="padding: 10%">
  <div style="width: 100%;">
    <demo-treeselect-basic></demo-treeselect-basic>
    <demo-treeselect-basic-strict></demo-treeselect-basic-strict>

    <demo-treeselect-single-basic></demo-treeselect-single-basic>
  </div>

  <div style="width: 100%">
  </div>
</div>



