<a href="//github.com/CK110/ng-zorro-tree.git">
  <img style="position: absolute; top: 0; right: 0; border: 0;"
       src="./assets/fork.png"
       alt="Fork me on GitHub">
</a>

<h2 style="text-align: center;margin-top: 20px"> tree </h2>
<div style="display: flex;justify-content: space-around;margin-bottom: 40px">

  <div style="margin: 50px;">
    <demo-async></demo-async>
  </div>

  <div style="margin: 50px;">
    <demo-basic></demo-basic>
  </div>
</div>


<h2 style="text-align: center;margin-top: 20px"> treeselect </h2>
<div>

  <div style="margin: 50px" >
    <demo-treeselect-basic></demo-treeselect-basic>

  </div>

  <div style="margin: 100px">
    <demo-treeselect-sync></demo-treeselect-sync>
  </div>
</div>


