# folders to ignore
/src
/node_modules
/test
/.nyc_output
/coverage
/e2e
/.idea

# ignore typescript files
*.component.ts
*.service.ts
*.module.ts
index.ts


# ignore tsconfig.json and tslint
tsconfig.json
tslint.json
protractor.conf.js
karma.conf.js
.gitignore
.editorconfig
.angular-cli.json
